Pandas Assignment (22 Feb)

In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the Series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
 # Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the  variable print it.

In [4]:
import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the Series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
 #Q3. Create a Pandas DataFrame that contains the following data: 

# Name= Alice Bob Claire 
# Then, print the DataFrame. 
# Age= 25 30 27 
# Gender= Female Male Female

In [7]:
import pandas as pd

# Create a dictionary with the data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [10]:

"""In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It can be thought of as a container for Series objects, where each column of the DataFrame is a Series. A DataFrame allows you to store and manipulate heterogeneous types of data, and it provides powerful methods for data analysis and manipulation.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It can be seen as a single column of a DataFrame. A DataFrame, therefore, is essentially a collection of Series with a shared index."""

'In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It can be thought of as a container for Series objects, where each column of the DataFrame is a Series. A DataFrame allows you to store and manipulate heterogeneous types of data, and it provides powerful methods for data analysis and manipulation.\n\nOn the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It can be seen as a single column of a DataFrame. A DataFrame, therefore, is essentially a collection of Series with a shared index.'

In [11]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [12]:
"""In Pandas, both Series and DataFrame are mutable, while Panel is considered deprecated.

Series: A Series is mutable, meaning you can modify its elements, add new elements, or remove existing elements.

DataFrame: Similarly, a DataFrame is mutable. You can add or remove columns, modify data within the DataFrame, and perform various operations to change its structure.

Panel: The Panel was a three-dimensional data structure in older versions of Pandas, but it has been deprecated in recent versions. It's recommended to use MultiIndex DataFrames or Panel-like operations with the wide range of capabilities provided by the DataFrame."""

"In Pandas, both Series and DataFrame are mutable, while Panel is considered deprecated.\n\nSeries: A Series is mutable, meaning you can modify its elements, add new elements, or remove existing elements.\n\nDataFrame: Similarly, a DataFrame is mutable. You can add or remove columns, modify data within the DataFrame, and perform various operations to change its structure.\n\nPanel: The Panel was a three-dimensional data structure in older versions of Pandas, but it has been deprecated in recent versions. It's recommended to use MultiIndex DataFrames or Panel-like operations with the wide range of capabilities provided by the DataFrame."

In [13]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [14]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Creating a dictionary from the Series
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female