Pandas Assignment (Pandas) 24 Feb

In [1]:
# Q1. List any five functions of the pandas library with execution.

In [3]:
"""Here are five commonly used functions in the Pandas library along with their execution:

read_csv: This function is used to read data from a CSV file into a DataFrame."""

'Here are five commonly used functions in the Pandas library along with their execution:\n\nread_csv: This function is used to read data from a CSV file into a DataFrame.'

In [15]:
import pandas as pd

# Example: Reading data from a CSV file
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [18]:
"""head: The head function is used to display the first few rows of a DataFrame."""

'head: The head function is used to display the first few rows of a DataFrame.'

In [19]:
# Example: Displaying the first 3 rows of the DataFrame
print(df.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

In [16]:
"""describe: The describe function provides descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, and maximum."""

'describe: The describe function provides descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, and maximum.'

In [17]:
# Example: Descriptive statistics of the DataFrame
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [20]:
"""groupby: The groupby function is used for grouping data based on some criteria and applying a function to each group."""

'groupby: The groupby function is used for grouping data based on some criteria and applying a function to each group.'

In [23]:
# Example: Grouping by 'Category' and calculating the mean of 'Value' for each group
grouped_data = df.groupby('Age')['Fare'].mean()
print(grouped_data)

Age
0.42       8.5167
0.67      14.5000
0.75      19.2583
0.83      23.8750
0.92     151.5500
           ...
70.00     40.7500
70.50      7.7500
71.00     42.0792
74.00      7.7750
80.00     30.0000
Name: Fare, Length: 88, dtype: float64

In [ ]:
"""plot: Pandas has built-in plotting functions. The plot function is used to create various types of plots directly from a DataFrame."""

In [ ]:
# Example: Plotting a bar chart of the 'Value' column
df.plot(kind='bar', x='Category', y='Value', title='Bar Chart')
plt.show()  # Don't forget to import matplotlib.pyplot as plt

In [ ]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [14]:
import pandas as pd

def reindex_dataframe(df):
    # Create a new index starting from 1 and incrementing by 2
    new_index = range(1, len(df) * 2, 2)

    # Re-index the DataFrame with the new index
    df_reindexed = df.reindex(new_index)

    return df_reindexed

# Example usage:
# Assuming df is your original DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})

# Call the function to re-index the DataFrame
df_reindexed = reindex_dataframe(df)

# Print the re-indexed DataFrame
print(df_reindexed)

      A     B     C
1  20.0  50.0  80.0
3   NaN   NaN   NaN
5   NaN   NaN   NaN

In [24]:
"""Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60."""

"Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that\niterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The\nfunction should print the sum to the console.\nFor example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should\ncalculate and print the sum of the first three values, which is 60."

In [25]:
import pandas as pd

def calculate_sum_of_first_three(df):
    # Check if 'Values' column exists in the DataFrame
    if 'Values' not in df.columns:
        print("Error: 'Values' column not found in the DataFrame.")
        return

    # Extract the 'Values' column from the DataFrame
    values_column = df['Values']

    # Check if the 'Values' column has at least three values
    if len(values_column) < 3:
        print("Error: 'Values' column should have at least three values.")
        return

    # Calculate and print the sum of the first three values
    sum_of_first_three = values_column.iloc[:3].sum()
    print("Sum of the first three values:", sum_of_first_three)

# Example usage:
# Assuming df is your DataFrame with the 'Values' column
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate and print the sum of the first three values
calculate_sum_of_first_three(df)

Sum of the first three values: 60

In [26]:
"""Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column."""

"Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column\n'Word_Count' that contains the number of words in each row of the 'Text' column."

In [27]:
import pandas as pd

def add_word_count_column(df):
    # Check if 'Text' column exists in the DataFrame
    if 'Text' not in df.columns:
        print("Error: 'Text' column not found in the DataFrame.")
        return

    # Calculate word count for each row and add a new 'Word_Count' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

# Example usage:
# Assuming df is your DataFrame with the 'Text' column
df = pd.DataFrame({'Text': ["This is a sample text.", "Another example.", "Pandas is great!"]})

# Call the function to add the 'Word_Count' column
add_word_count_column(df)

# Print the DataFrame with the new 'Word_Count' column
print(df)

                     Text  Word_Count
0  This is a sample text.           5
1        Another example.           2
2        Pandas is great!           3

In [28]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

In [29]:

"""In Pandas, DataFrame.size and DataFrame.shape are two different attributes that provide different information about a DataFrame:

DataFrame.size:

The size attribute returns the total number of elements in the DataFrame.
It calculates the size by multiplying the number of rows by the number of columns.
The result is a single integer representing the total number of elements in the DataFrame."""

'In Pandas, DataFrame.size and DataFrame.shape are two different attributes that provide different information about a DataFrame:\n\nDataFrame.size:\n\nThe size attribute returns the total number of elements in the DataFrame.\nIt calculates the size by multiplying the number of rows by the number of columns.\nThe result is a single integer representing the total number of elements in the DataFrame.'

In [30]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
size_of_df = df.size
print("DataFrame size:", size_of_df)

DataFrame size: 6

In [31]:
"""DataFrame.shape:

The shape attribute returns a tuple representing the dimensions of the DataFrame.
The tuple contains two elements: the number of rows and the number of columns.
It provides a more granular view of the structure of the DataFrame."""

'DataFrame.shape:\n\nThe shape attribute returns a tuple representing the dimensions of the DataFrame.\nThe tuple contains two elements: the number of rows and the number of columns.\nIt provides a more granular view of the structure of the DataFrame.'

In [32]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
shape_of_df = df.shape
print("DataFrame shape:", shape_of_df)

DataFrame shape: (3, 2)

In [33]:
#Q6. Which function of pandas do we use to read an excel file?

In [36]:
import pandas as pd

# Replace 'your_file.xlsx' with the actual path to your Excel file
file_path = 'your_file.xlsx'

# Read Excel file into a DataFrame
df = pd.read_excel(file_path)

# Print the DataFrame
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'your_file.xlsx'

In [37]:
"""Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column."""

"Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email\naddresses in the format 'username@domain.com'. Write a Python function that creates a new column\n'Username' in df that contains only the username part of each email address.\nThe username is the part of the email address that appears before the '@' symbol. For example, if the\nemail address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your\nfunction should extract the username from each email address and store it in the new 'Username'\ncolumn."

In [38]:
import pandas as pd

def extract_username(df):
    # Check if 'Email' column exists in the DataFrame
    if 'Email' not in df.columns:
        print("Error: 'Email' column not found in the DataFrame.")
        return

    # Extracting the username from each email address and creating a new 'Username' column
    df['Username'] = df['Email'].str.split('@').str[0]

# Example usage:
# Assuming df is your DataFrame with the 'Email' column
df = pd.DataFrame({'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.jackson@example.com']})

# Call the function to extract and create the 'Username' column
extract_username(df)

# Print the DataFrame with the new 'Username' column
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2  bob.jackson@example.com  bob.jackson

In [39]:
"""Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows."""

"Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects\nall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The\nfunction should return a new DataFrame that contains only the selected rows.\nFor example, if df contains the following values:\nA B C\n0 3 5 1\n1 8 2 7\n2 6 9 4\n3 2 3 5\n4 9 1 2\n\nAssignment\n\nData Science Masters\n\nYour function should select the following rows: A B C\n1 8 2 7\n4 9 1 2\nThe function should return a new DataFrame that contains only the selected rows."

In [40]:
import pandas as pd

def select_rows(df):
    # Check if columns 'A' and 'B' exist in the DataFrame
    if 'A' not in df.columns or 'B' not in df.columns:
        print("Error: Columns 'A' and 'B' not found in the DataFrame.")
        return

    # Select rows where 'A' is greater than 5 and 'B' is less than 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]

    return selected_rows

# Example usage:
# Assuming df is your DataFrame with columns 'A', 'B', and 'C'
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Call the function to select rows based on the specified conditions
selected_df = select_rows(df)

# Print the new DataFrame with selected rows
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [41]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [42]:
import pandas as pd

def calculate_statistics(df):
    # Check if 'Values' column exists in the DataFrame
    if 'Values' not in df.columns:
        print("Error: 'Values' column not found in the DataFrame.")
        return

    # Calculate mean, median, and standard deviation
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation_value = df['Values'].std()

    # Print the calculated statistics
    print("Mean:", mean_value)
    print("Median:", median_value)
    print("Standard Deviation:", std_deviation_value)

# Example usage:
# Assuming df is your DataFrame with the 'Values' column
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate and print statistics
calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

In [43]:
"""Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day."""

"Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to\ncreate a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days\nfor each row in the DataFrame. The moving average should be calculated using a window of size 7 and\nshould include the current day."

In [44]:
import pandas as pd

def calculate_moving_average(df):
    # Check if 'Sales' and 'Date' columns exist in the DataFrame
    if 'Sales' not in df.columns or 'Date' not in df.columns:
        print("Error: 'Sales' or 'Date' column not found in the DataFrame.")
        return

    # Sort DataFrame by 'Date' if it's not already sorted
    df = df.sort_values('Date')

    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

# Example usage:
# Assuming df is your DataFrame with the 'Sales' and 'Date' columns
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'],
    'Sales': [10, 15, 12, 18, 20, 22, 25]
})

# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Call the function to calculate and add the 'MovingAverage' column
calculate_moving_average(df)

# Print the DataFrame with the new 'MovingAverage' column
print(df)

        Date  Sales
0 2023-01-01     10
1 2023-01-02     15
2 2023-01-03     12
3 2023-01-04     18
4 2023-01-05     20
5 2023-01-06     22
6 2023-01-07     25

In [45]:
"""Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame."""

"Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new\ncolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.\nMonday, Tuesday) corresponding to each date in the 'Date' column.\nFor example, if df contains the following values:\nDate\n0 2023-01-01\n1 2023-01-02\n2 2023-01-03\n3 2023-01-04\n4 2023-01-05\nYour function should create the following DataFrame:\n\nDate Weekday\n0 2023-01-01 Sunday\n1 2023-01-02 Monday\n2 2023-01-03 Tuesday\n3 2023-01-04 Wednesday\n4 2023-01-05 Thursday\nThe function should return the modified DataFrame."

In [46]:
import pandas as pd

def add_weekday_column(df):
    # Check if 'Date' column exists in the DataFrame
    if 'Date' not in df.columns:
        print("Error: 'Date' column not found in the DataFrame.")
        return

    # Convert 'Date' column to datetime type
    df['Date'] = pd.to_datetime(df['Date'])

    # Add a new 'Weekday' column with weekday names
    df['Weekday'] = df['Date'].dt.day_name()

    return df

# Example usage:
# Assuming df is your DataFrame with the 'Date' column
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# Call the function to add the 'Weekday' column
df_with_weekday = add_weekday_column(df)

# Print the modified DataFrame with the new 'Weekday' column
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [47]:
"""Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'."""

"Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python\nfunction to select all rows where the date is between '2023-01-01' and '2023-01-31'."