30th jan Assigment

Q.1. Write a program to accept percentage from the user and display the grade according to the following

In [1]:
percentage = float(input("Enter the percentage: "))

if percentage > 90:
    grade = "A"
elif percentage > 80 and percentage <= 90:
    grade = "B"
elif percentage >= 60 and percentage <= 80:
    grade = "C"
else:
    grade = "D"

print("Grade:", grade)

Enter the percentage:  45

Grade: D

Q.2

In [2]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price > 100000:
    road_tax = cost_price * 0.15
elif cost_price > 50000 and cost_price <= 100000:
    road_tax = cost_price * 0.10
else:
    road_tax = cost_price * 0.05

print("Road tax to be paid: Rs", road_tax)

Enter the cost price of the bike (in Rs):  456

Road tax to be paid: Rs 22.8

Q.3

In [3]:
monuments = {
    "Delhi": ["Red Fort", "Taj Mahal"],
    "Agra": ["Taj Mahal"],
    "Jaipur": ["Jal Mahal"]
}

city = input("Enter a city: ")

if city in monuments:
    city_monuments = monuments[city]
    print("Monuments in", city + ":")
    for monument in city_monuments:
        print(monument)
else:
    print("No monuments found for", city)

Enter a city:  agra

No monuments found for agra

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [4]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The given number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  56

The given number can be divided by 3 2 times before it is less than or equal to 10.

6. Use nested while loop to print 3 different pattern.


Certainly! Here are three different patterns that can be printed using nested while loops in Python:

Pattern 1: Triangle Pattern

In [5]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

Pattern 2: Square Pattern

In [7]:
rows = 4
i = 1
while i <= rows:
    j = 1
    while j <= rows:
        print("*", end=" ")
        j += 1
    print()
    i += 1

* * * *
* * * *
* * * *
* * * *

Pattern 3: Pyramid Pattern

In [8]:
rows = 5
i = 1
while i <= rows:
    spaces = rows - i
    while spaces > 0:
        print(" ", end=" ")
        spaces -= 1
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

        *
      * *
    * * *
  * * * *
* * * * *

Q.7. Reverse a while loop to display numbers from 10 to 1.

In [9]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

Q.8. Reverse a while loop to display numbers from 10 to 1

In [10]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1